@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
/*  overflow-x: hidden;*/
}


/* fonts */
body{
	font-family: Lato, "Helvetica Neue", Arial, sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.lead-description{
	font-family: Georgia, serif;
}

/* Lazy Load fade effect */
video[data-fully-loaded="true"],
img[data-fully-loaded="true"], 
[data-fully-loaded="true"] img { 
  animation-name: showLazyImg; 
  animation-duration: 1s; 
  animation-fill-mode: both; 
} 

@keyframes showLazyImg { 
  from { opacity: 0; } to { opacity: 1; } 
}



/* CSS for hero image, either background photo or background video */
.hero{
  background-image: url("../assets/hero_video/hero_video.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.hero header{
  background-color:rgba(0,0,0,0.75);

}
.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: 1 !important;
}
@media (min-aspect-ratio:16/9){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}



.spread-out{
  margin-top:100vh;
  margin-bottom:100vh;
  overflow: hidden;
}

#silverton-video-holder video{ z-index: -1; }

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
  
  
  
.overlay{position:absolute;
    top:0;
    left:0;
    z-index:1;
}
  
  #merge video{ z-index: -1; }